# Shared
ENVIRONMENT=local

# API
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgresql://healthcare:healthcare@127.0.0.1:55432/healthcare
REDIS_URL=redis://127.0.0.1:6379/0
CORS_ALLOWED_ORIGINS=http://127.0.0.1:3000,http://localhost:3000

# Web/mobile
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
EXPO_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
